[submodule "lib/util-cpp-common"]
	path = lib/util-cpp-common
	url = https://github.com/d8euAI8sMs/util-cpp-common.git
[submodule "lib/opencv30"]
	path = lib/opencv30
	url = https://github.com/d8euAI8sMs/util-cpp-opencv30.git
